In [8]:
#TESTE E APRENDIZADO EM JUPYTER PARA O TRABALHO DE APC!!! 

# FILE .IPYNB

In [9]:
import pandas as pd
import plotly.express as px

In [10]:
url =

SyntaxError: invalid syntax (4177558605.py, line 1)

In [ ]:
df = pd.read_csv("salaries.csv")
df.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,MI,FT,Machine Learning Engineer,130000,USD,130000,US,0,US,M
1,2022,MI,FT,Machine Learning Engineer,90000,USD,90000,US,0,US,M
2,2022,MI,FT,Data Scientist,120000,USD,120000,US,100,US,M
3,2022,MI,FT,Data Scientist,100000,USD,100000,US,100,US,M
4,2022,MI,FT,Data Scientist,85000,USD,85000,US,100,US,M

In [ ]:
#salarios_agrupado_por_experiencia = salarios.groupby('experience_level', 'salary_in_usd')

lista_nivel_de_experiencia = df.experience_level.values.tolist()
salario_anual_dolar = df.salary_in_usd.values.tolist()
linhas = len(df)


def calcular_media_salarial(nivel_experiencia, lista_nivel_experiencia, salario_anual_dolar):
    count = 0
    media = 0
    for i in range(len(lista_nivel_experiencia)):
        if(lista_nivel_experiencia[i] == nivel_experiencia):
            media += salario_anual_dolar[i]
            count += 1
    if count == 0:
        return 0
    return media / count

media_EN = calcular_media_salarial('EN', lista_nivel_de_experiencia, salario_anual_dolar)
media_MI = calcular_media_salarial('MI', lista_nivel_de_experiencia, salario_anual_dolar)
media_SE = calcular_media_salarial('SE', lista_nivel_de_experiencia, salario_anual_dolar)
media_EX = calcular_media_salarial('EX', lista_nivel_de_experiencia, salario_anual_dolar)


dt = pd.DataFrame({'experience_level':[media_EN, media_MI, media_SE, media_EX]}, index=['EN', 'MI', 'SE', 'EX'])


grafico_1 = px.bar(dt, y = 'experience_level',
title = "Média salarial em nível de experiência", labels={
'experience_level' : 'Valor em dólar', 'index' : 'Níveis'},
template= 'xgridoff' , 
color_discrete_sequence= px.colors.qualitative.Bold,

)
display(grafico_1)

colors = px.colors.qualitative.swatches()

print (dt)

    experience_level
EN      60133.340136
MI      90288.652819
SE     144853.486924
EX     194462.622222